* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.theme--light.v-card .v-card__subtitle, .theme--light.v-card>.v-card__text {
    color: rgba(0,0,0,.6);
}

.v-card__subtitle, .v-card__text {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: .0071428571em;
}

.v-application, body, html {
    font-family: Inter,sans-serif!important;
}

.v-application .display-1 {
    font-size: 2.125rem!important;
    line-height: 2.5rem;
    letter-spacing: .0073529412em!important;
}

.v-card__subtitle, .v-card__text {
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: .0071428571em;
}

#novedades{
    justify-content: center !important;
}

.v-icon.v-icon:after {
    background-color: currentColor;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(1.3);
    width: 100%;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
}

.v-btn:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: "";
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .2s cubic-bezier(.4,0,.6,1);
}

.rounded-circle{
    border-style: hidden;
}

.container {
    width: 100%;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
}

.rounded-circle{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

img{
    display: block;
    margin: 0px auto;
}

.row1{
    display: flex;
    justify-content: center;
}

div.dropdown.btn.selectoption{
    padding: 6px !important;
    width: 125px;
}

.form-select{
    width: 125px;
    color: #6c757d;
    display: inline !important;
    height: 38px;
    margin: 4px;
    padding: 0 12px;
}

/*.form-select:hover{
    color: rgb(255, 255, 255);
    background-color: #6C757D;
}*/

.btn-outline-secondary:hover {
    color: rgb(255, 255, 255) !important;
    border-color: transparent;
}

.btn-outline-secondary:active{
    border-color: #C2DBFE;
}

.btn-outline-secondary {
    border: 1px solid #ced4da;
    color: #6c757d !important;
    width: 125px;
}

.btn{
    width: 135px;
}

.mb-3> .imagenUpdate{
    display: flex;
    align-items: center;
}
.row > .centrado{
    display: grid;
    justify-items: center;
}

.delete_btn{
    width: 95px!important;
}

.update_btn{
    width: 95px!important;
}